<h3>How much we changin boss</h3>

<form method= "post" action ="change">
<input type="number" name="monies" required><br>
<input type="hidden" name="f_name" value="<%=f_name%>">
<input type="hidden" name="l_name" value="<%=l_name%>">	
<input type="submit" value="!KaChing!">
</form> 
