<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-container">
	<h2>Site Map</h2>


	<div class="w3-bar w3-border w3-light-grey">
	  <a href="/" class="w3-bar-item w3-button w3-text-teal">Home</a>
	  <a href="/name" class="w3-bar-item w3-button">New Account</a>
	  <a href="/change" class="w3-bar-item w3-button">Just Change it</a>
	  <a href="/what" class="w3-bar-item w3-button">mwoof</a>
	</div>
</div>
<h1>Hello!! Welcome to CoinChangeyChanger</h1>
</head>





<body>
	<%=yield%>
</body>




<Footer> 
<a href="http://www.minedminds.org">
	Mined Minds Website</a>
</Footer>

<footer>
<a href="http://www.bing.com">
	Rhymes with thing</a>
</footer>
