<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/style.css">

<h1>Hello!! Welcome to CoinChangeyChanger</h1>
</head>















<body>
	<%=yield%>
</body>




<Footer> 
<a href="http://www.minedminds.org">
Mined Minds Website</a>
</Footer>

<footer>
<a href="http://www.bing.com">
Rhymes with thing</a>
</footer>
