<%=msg%>

<h1>User Login</h1>


<form method="post" action="login">
		<h2>Username</h2><br>
	<input type="text" name="usrname"><br>
		<h2>Password</h2><br>
	<input type="Password" name="p_word"><br>
			Logon?<br>

	<input type="submit" value="Continue?"><br>
</form>