<h3>  Enter your First and Last Name </h3>

<form method="post" action="name">
 		<h3 class="size"> First Name</h3><br>
 	<input type="text" name="f_name"><br>
 		<h3 class="size">Last Name</h3><br>
 	<input type="text" name="l_name"><br>
 		Submit?<br>
 	<input type="submit" value="Continue?">
 </form>
