
<h1> SAY wHaT NoW</h1>

<script>
	
var	d = new Date();

function myfunc(){
	document.getElementById("demo").innerHTML = d;
	alert(d);
}	
</script>


<input type="submit" onclick="myfunc()" value="!THISBuTtOnDOESSoMeTHING!"><br>

<p id="demo"></p>


<h2>Bwahahahahhahaha</h2>
<h4>
Bwahahahahhahah
</h4>